<div class="device">
  <h1 class="device__id">ID: 1</h1>
  <ul class="device__list">
    <h1>{{deviceTableItem[0].id}}</h1>
    <li class="device__list-item">Город: <span class="device__information">Челябинск</span></li>
    <li class="device__list-item">Адрес: <span class="device__information">Каслинская, 32</span></li>
    <li class="device__list-item">Номер в клубе: <span class="device__information">12</span></li>
    <li class="device__list-item">Время работы: <span class="device__information">24h 12m 23s</span></li>
    <li class="device__list-item">Температура процессора: <span class="device__information">42°C</span></li>
    <li class="device__list-item">ISCSI-Target: <span class="device__information">iscsi:172.16.0.18::::iqn.2005-10.org.freenas.ctl:winda</span>
    </li>
    <li class="device__list-item">UUID: <span class="device__information">123123'-gdfdfga</span></li>
    <li class="device__list-item">MAC: <span class="device__information">2342342342</span></li>
    <li class="device__list-item">Group: <span class="device__information">Arch-Linux</span></li>
  </ul>
  <h1>Action list</h1>
  <div class="device__container">
    <ul class="device__list">
      <li class="device__list-item">
        <button mat-raised-button color="primary" class="device__button" (click)="log()">Change City</button>
      </li>
      <li class="device__list-item">
        <button mat-raised-button color="primary" class="device__button">Change addresses</button>
      </li>
      <li class="device__list-item">
        <button mat-raised-button color="primary" class="device__button">Change number in club</button>
      </li>
      <li class="device__list-item">
        <button mat-raised-button color="primary" class="device__button">Change ISCSI</button>
      </li>
      <li class="device__list-item">
        <button mat-raised-button color="primary" class="device__button">Chande group</button>
      </li>
    </ul>

    <ul class="device__list">
      <li class="device__list-item">
        <button mat-raised-button color="warn" class="device__button">Delete configuration</button>
      </li>
      <li class="device__list-item">
        <button mat-raised-button color="warn" class="device__button">Reboot</button>
      </li>
    </ul>
  </div>

</div>
