<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Список машин </a>
      <a mat-list-item routerLink="/device/">Машина по ID</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row class="header__topRow">
        <button mat-icon-button class="header__menuIcon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="header__container">
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
          <span>MySpecialLogin</span>
          <div class="header__profile"></div>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="header__bottomRow">
        <ul class="header__listLinks">
          <li class="header__link">Link</li>
          <li class="header__link">Link</li>
          <li class="header__link">Link</li>
          <li class="header__link">Link</li>
          <li class="header__link">Link</li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>


    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
